.header-title {
  height: 20vh;
  background-color: #171516;
  color: #e99a24;
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  padding-top: 40px;
  margin: auto;
  text-align: center;
}

.bold {
  font-weight: bold;
}
