.loc-container {
  border: solid black 1px;
  width: 250px;
  height: 125px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.loc-container:hover {
  background-color: #c2e3f4;
}
button {
  position: relative;
  bottom: -30px;
}
